## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [3]:
countryList = ['Taiwan', 'Thailand', 'US', 'Korea', 'Japan']
peopleCount = np.random.randint(1000000000, size=(5))
data = {'國家': countryList ,
        '人口': peopleCount}
data = pd.DataFrame(data=data)
data.head()

         國家         人口
0    Taiwan  875109584
1  Thailand  331048813
2        US  407063489
3     Korea  220055548
4     Japan  124506377